@import url("../reveal.js/css/reveal.min.css"); 
@import url("../reveal.js/css/theme/beige.css"); 

.reveal h1 { font-size: 2em; } 
h1.title { font-size: 3em; } 
.titleslide h1 { font-size: 3em; } 
.reveal h2  { font-size: 1.3em; } 
.reveal p { text-align: left; } 
.reveal table { padding: 1em 1em 1em 3em; } 
.reveal td { padding: 0.3em; } 
.reveal th { padding: 0.3em; border-bottom: 2px solid gray; } 
.reveal blockquote { 
        text-align: left; 
        width: 85%; 
        border: none; 
        box-shadow: none; 
        background: none; 
} 
.reveal figure { margin: 1em; border: none; } 
.reveal section img { border: none; } 
.longquote blockquote { font-size: 0.8em; } 
.reveal blockquote:before { content: ''; } 
.reveal blockquote:after { content: ''; } 
.left {
	float: left;
	width: 48%;
}
.right {
	float: right;
	width: 48%;
}
div.multicolumn{
    -moz-column-count: 2;
    -moz-column-gap: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 50%;
    column-count: 2;
    column-gap: 50%;
}

.alert {
	color: #FF3300;
}
.reveal dl{
	text-align: left;
}
.reveal dd{
	text-indent: 50px;
	margin-left: 50px;
	margin-bottom: 0.25em;
}
div.references {
	font-size: 0.5em;
}